* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.box {
  width: 100%;
  height: 100vh;
  background-color: rgb(41, 11, 69);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

.item{
  background-color: crimson;
  text-align: center;
  color: white;
  font-size: 45px;
  font-family: cursive;
}
.item:first-child{
  background-color: green;
  grid-column: 1/2;
  grid-row: 1/4;
}
.item:nth-child(2){
  background-color: green;
  grid-column: 2/4;
}
.item:nth-child(4){
  background-color: yellow;
}
.item:nth-child(6){
  background-color: green;
  grid-column: 4/5;
  grid-row: 2/4;
}
.item:nth-child(8){
  background-color: yellow;
}