
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.boxsss{
    width: 100%;
    height: 100vh;
    background-color: blueviolet;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
}

.boskid{
    background-color: aqua;
    color: aliceblue;
    text-align: center;
    font-size: 24px;
    font-family: cursive;
}

.boskid:first-child{
    background-color: rgb(0, 255, 64);
    grid-column: 1/3;
}

.boskid:nth-child(2){
    background-color: chocolate;
    grid-column: 3/6;
    grid-row: 1/3;
}