*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.box{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
    grid-template-rows: repeat(4 , 1fr);
    background-color: crimson;
    gap: 10px;
}
.item{
    background-color: green;
    text-align: center;
    color: white;
    font-size: 15px;
    font-family: cursive;
}
.item:first-child{
     background-color: pink;
     grid-row: 1/4;
     grid-column: 1/2;
}
.item:nth-child(2){
    background-color: green;
    grid-row: 1/2;
    grid-column: 2/4;
}
.item:nth-child(3){
    background-color: red;
    grid-column: 4/6;
    grid-row: 1/2;
}
.item:nth-child(4){
    background-color: orange;
    grid-row: 2/3;
    grid-column: 2/3;
}
.item:nth-child(5){
    background-color: violet;
    grid-column: 3/6;
    grid-row: 2/3;
}
.item:nth-child(6){
    background-color: grey;
    grid-row: 3/4;
    grid-column: 2/3;
}
.item:nth-child(7){
    background-color: green;
    grid-column: 3/6;
    grid-row: 3/4;
}